form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    margin-top: 10px;
}

.inp {
    display: flex;
    flex-direction: column;
}

.inp input {
    width: 250px;
}

h3 {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;
    margin-top: 25px;
}

.butn {
    width: 100px;
    margin-top: 50px;
}